<div class="panel-view panel-info-view">
    <div class="panel-heading-view">
        <table>
            <tr>
                <th><h3 class="panel-title-view">PlayList Manager</h3></th>
                <th>
                    <input type="button" ng-click="vm.createPlayList()" value="Add">
                    <input type="button" ng-click="vm.editPlayList()" value="Edit">
                    <input type="button" ng-click="vm.deletePlayList()" value="Remove">
                </th>
            </tr>
        </table>
    </div>
</div>