<div class="panel-view panel-info-view" ng-controller="musicSongController as vm">
    <div class="panel-heading-view">
        <table>
            <tr>
                <th><h3 class="panel-title-view">Song Manager</h3></th>
                <th>
                    <input type="button" ng-click="vm.createSong()" value="Add">
                    <input type="button" ng-click="vm.editSong()" value="Edit">
                    <input type="button" ng-click="vm.deleteSong()" value="Remove">
                </th>
            </tr>
        </table>
    </div>
</div>
<ov-table title="vm.titleSong" list-col="vm.listCol" list-object="vm.listObject" list-ids-selected="vm.listIdsSelected"></ov-table>